@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&display=swap');
.paci {
  font-family: "Pacifico", cursive;
  font-style: normal;
}
.cav {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.scrollbar::-webkit-scrollbar, .scrollbar-name::-webkit-scrollbar{
  width: 8px;
}

.scrollbar-name::-webkit-scrollbar-thumb{
  background-color: #424874;
}

.scrollbar::-webkit-scrollbar-thumb{
  background-color: #CACFD6;
}